html, body {
	background-color: #000000;
	color:#FFF;
	height:100%;
}
body {

}
.container {
	display: none;
    height:100%;
	padding-top:8%;
}
.row {
	margin-top:5%;
}


#setup_container {
    text-align: center;
}
#setup_container .btn {
    width:80%;
    padding: 1em;
    font-size: 2em;
    text-transform: uppercase;
}


h1 {
	text-align: center;
    color: #FFF;
    text-transform: uppercase;
    font-weight: normal;
    margin: 10px 0 0 0;
}
h1 span {
	font-size: 2em;
    display: block;
    line-height: 1em;
}
.brick {
	cursor: pointer;
	
	height: 120px;

	-webkit-perspective: 10000px;
	perspective: 10000px;

	transition: all 250ms ease;

	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.brick .default-state, .brick .active-state {
	height:120px;
}


/* Position the faces */
.brick .default-state {
  border-top: 15px dashed #000;
  
  -webkit-transform: translateZ(50px);
  transform: translateZ(50px);
  transition: all 250ms ease;
}
.brick .active-state {
	font-size: 4em;
    line-height: 2em;
    text-align: center;
    border:4px solid #000;
    background:#222;
    text-shadow: 2px 2px 2px #000;
  	-webkit-transform: rotateX(-90deg) translateZ(-60px);
  	transform: rotateX(-90deg) translateZ(-60px);
	transition: all 250ms ease;
    transition-delay: 0;
}
.brick.selected .active-state {
	box-shadow: inset 0px 0px 40px 5px rgba(0, 0, 0, 0.75), 0px 0px 50px 10px rgba(255, 255, 255, 0.75);
    transition-delay: 100ms;

}
.brick.selected, .brick.selected-remote {
  -webkit-transform: rotateX(89deg);
  transform: rotateX(89deg);
}
.brick.selected-remote {
	opacity:0.2;
}
.brick.selected-remote .default-state {
	opacity:0;
}

.brick.orange .default-state {
	background-color: #DA5A0E;
}
.brick.orange .active-state {
	color: #DA5A0E;
	border-color: #DA5A0E;
}

.brick.green .default-state {
	background-color: #066031;
}
.brick.green .active-state {
	color: #066031;
	border-color: #066031;
}

.brick.blue .default-state {
	background-color: #007ee5;
}
.brick.blue .active-state {
	color: #007ee5;
	border-color: #007ee5;
}

.brick.purple .default-state {
	background-color: #7d6a96;
}
.brick.purple .active-state {
	color: #7d6a96;
	border-color: #7d6a96;
}

.brick.yellow .default-state {
	background-color: #FFFF00;
}
.brick.yellow .active-state {
	color: #FFFF00;
	border-color: #FFFF00;
}

.brick.red .default-state {
	background-color: #D40505;
}
.brick.red .active-state {
	color: #D40505;
	border-color: #D40505;
}

.brick.pink .default-state {
	background-color: #fbb4e3;
}
.brick.pink .active-state {
	color: #fbb4e3;
	border-color: #fbb4e3;
}

.brick.lightgreen .default-state {
	background-color: #92c272;
}
.brick.lightgreen .active-state {
	color: #92c272;
	border-color: #92c272;
}

.brick.lightblue .default-state {
	background-color: #32c2c9;
}
.brick.lightblue .active-state {
	color: #32c2c9;
	border-color: #32c2c9;
}


/*@media print {
    html, body {
        background-color: #FFF;
    }
    .container {
        padding:0;

    }
    #brick_container {
        display:block;
    }
    .brick {
        width:100%;
        height: 80vh;
    }
    .brick .default-state {
        border-top:40px dashed #FFF;

        height:40vh;
        page-break-before:always;
        page-break-after:always;
    }
    .brick .active-state {
        display:none;
    }
    .row {
        margin:0;
        padding:0;
    }
    .col-sm-4 {
        width: 100%;
        line-height:0;
        display:inline-block;
        margin:0;
        padding:0;

    }
    #leadtitle {
        display: none;
    }
}*/