@charset "UTF-8";

// Import your framework/app below
body {
  padding-top: 50px;
}
.btn-icon-round {
  display: inline-block;
  border-radius: 50%;
  text-align: center;

  height: 45px;
  width: 45px;
  line-height: 45px;
}
.btn-icon-round-sm {
  height: 30px;
  width: 30px;
  line-height: 30px;
}
.btn-icon-round-lg {
  height: 60px;
  width: 60px;
  line-height: 60px;
}
.play-control {
  padding-top:10px;
  padding-left:10px;

  .play-state {
    display:inline-block;
    vertical-align: middle;
    margin-right: 15px;
    width: 150px;

    canvas {
      background:#fff;
      //display: inline-block;
    }
  }

  .btn-play {
    display:inline-block;
    border-radius: 50%;
    text-align: center;
    height: 40px;
    width: 40px;
    line-height: 34px;
    padding-left: 2px;

    border:3px solid $brand-success;
    color:#fff;
    font-size: 1.1em;
    cursor:pointer;

    &:hover {
      color:$brand-success;
    }
  }

}


canvas {
  border: 1px solid #7b8a8b;
}

canvas.rhythm-pattern {
  display: block;
  background:#fff;
}

.lead-notes {

  text-align:center;

  .note {
    display:inline-block;
    box-sizing: border-box;
    height:100px;
    border:1px solid #f1f1f1;
    padding: 1em;
    font-size:2em;
    margin:10px;
    cursor:pointer;
  }
  .note.active {
    color:#FFF;
    background-color: $brand-success;
  }
}

.track-container {
  .track-label {
    margin: 0;
    border: 2px solid $brand-success;
    color:$brand-success;
    padding: 10px;
    border-radius: 50%;
    text-align: center;
    font-size: 1.5em;
    height: 50px;
    width: 50px;
    transition: background-color 0.2s ease;
    background-color:transparent;
    cursor:pointer;
      background-position: center center;
      background-repeat: no-repeat;

    &.icon-snare {
      background-image: url("../assets/snare.png");
      background-size: 35px;
    }
    &.icon-hihat {
      background-image: url("../assets/hihat.png");
      background-size: 35px;
    }
    &:hover {
      background-color:$brand-success;
      color:white;
    }
  }
}