<div class="page-header">
    <h1>Bass</h1>
</div>

<h4 class="pull-left">Volume</h4>
<div class="row">
    <div class="col-xs-12 col-sm-8 col-lg-4">
        <slider class="volume-slider" floor="0" ceiling="100" step="1" precision="1" ng-model="vm.MusicService.bass.volume" change="vm.MusicService.volumeChanged('bass')"></slider>
    </div>
</div>


<div class="canvas-container">
    <canvas id="bass_rhythm" class="rhythm-pattern" width="1200" height="100" pattern="vm.MusicService.bassPattern" base-pattern="vm.MusicService.basePattern" call-on-change="vm.patternChanged()" active-cell="vm.MusicService.activeBeat" rhythm></canvas>
</div>