<div class="page-header">
    <h1>
        <button type="button" class="btn btn-success btn-sm" ng-click="fullscreenCtrl.toggleFullscreen()"><i class="fa fa-music"></i></button>
        Bass
    </h1>
</div>

<div class="row">
    <div class="col-xs-4 col-sm-2 col-lg-2"><h4>Volume</h4></div>
    <div class="col-xs-8 col-sm-6 col-lg-4">
        <slider class="volume-slider" floor="0" ceiling="100" step="1" precision="1" ng-model="vm.MusicService.bass.volume" change="vm.MusicService.volumeChanged('bass')"></slider>
    </div>
</div>

<div class="row">
    <div class="col-xs-4 col-sm-2 col-lg-2"><h4>Sound</h4></div>
    <div class="col-xs-8 col-sm-6 col-lg-4">
        <div class="btn-group btn-group-justified">
            <a ng-click="vm.MusicService.prevInstrumentSound(vm.name)" class="btn btn-success"><i class="fa fa-chevron-left"></i> Prev</a>
            <a class="btn btn-success disabled">{{vm.MusicService[vm.name].sound}}</a>
            <a ng-click="vm.MusicService.nextInstrumentSound(vm.name)" class="btn btn-success">Next <i class="fa fa-chevron-right"></i></a>
        </div>
    </div>
</div>

<div class="well track-container">
    <div class="canvas-container">
        <canvas id="bass_rhythm" class="rhythm-pattern" width="1200" height="100" pattern="vm.MusicService.bassPattern" base-pattern="vm.MusicService.basePattern" call-on-change="vm.patternChanged()" active-cell="vm.MusicService.activeBeat" rhythm></canvas>
    </div>

    <button class="btn btn-danger" ng-click="vm.resetPattern();"><i class="fa fa-trash-o"></i> Reset pattern</button>
</div>

<div class="instrument-player bass-player" ngsf-fullscreen="fullscreenCtrl">
    <h1 class="fullscreen-header">Bass</h1>

    <div class="row lead-notes">
        <div class="col-xs-12" ng-repeat="(key, note) in vm.noteKeyMap">
            <div class="well note"  my-touchstart="vm.noteOn(note)" my-touchend="vm.noteOff(note)" ng-class="{'active': vm.notesOn.indexOf(note)!==-1}">{{note}}</div>
        </div>
    </div>

    <button type="button" class="btn btn-primary fullscreen-close" ng-click="fullscreenCtrl.toggleFullscreen()"><span class="fa fa-times"></span> Exit instrument mode</button>
</div>