<div class="page-header">
    <h1>Beat Builder</h1>
    <p>Press apply to play your new fresh beat</p>
</div>


<!--BASE RHYTHM-->
<h3 class="divider-title bg-primary">Rhythm</h3>
<div class="section-container">
    <div class="row">
        <div class="col-xs-4 col-sm-2 col-lg-2"><h4>BPM</h4></div>
        <div class="col-xs-8 col-sm-6 col-lg-4">
            <slider class="bpm-slider" floor="30" ceiling="240" step="2" precision="1" ng-model="vm.BeatBuilderService.bpm"></slider>
        </div>
    </div>

    <div class="well track-container">
        <div class="row">
            <div class="col-md-1 col-xs-2">
                <h2 class="track-label icon-rhythm" ng-click="vm.BeatBuilderService.resetPatterns()"></h2>
            </div>
            <div class="col-md-11 col-xs-10">
                <canvas id="main_rhythm" class="rhythm-pattern" width="1200" height="50" pattern="vm.BeatBuilderService.basePattern" call-on-change="vm.basePatternChanged()" rhythm></canvas>
            </div>
        </div>
    </div>
</div>


<!--BASS-->
<h3 class="divider-title bg-primary">Bass</h3>
<div class="section-container">



    <div class="well track-container">
        <div class="row">
            <div class="col-md-1 col-xs-2">
                <h2 class="track-label icon-bass" ng-click="vm.BeatBuilderService.bassPattern = []"></h2>
            </div>
            <div class="col-md-11 col-xs-10">
                <canvas id="bass_rhythm" class="rhythm-pattern" width="1200" height="50" pattern="vm.BeatBuilderService.bassPattern" base-pattern="vm.BeatBuilderService.basePattern" rhythm></canvas>
            </div>
        </div>

        <div class="row top-buffer">
            <div class="col-md-1 col-xs-2"><h4>Sound</h4></div>
            <div class="col-md-4 col-xs-8">
                <div class="btn-group btn-group-justified">
                    <a ng-click="vm.BeatBuilderService.prevInstrumentSound('bass')" class="btn btn-info"><i class="fa fa-chevron-left"></i> Prev</a>
                    <a class="btn btn-info disabled">{{vm.BeatBuilderService.soundSettings['bass']}}</a>
                    <a ng-click="vm.BeatBuilderService.nextInstrumentSound('bass')" class="btn btn-info">Next <i class="fa fa-chevron-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>

<!--CHORDS-->
<h3 class="divider-title bg-primary">Chords</h3>
<div class="section-container">

    <div class="row">
        <div class="col-xs-4 col-sm-2 col-lg-2"><h4>Progression</h4></div>
        <div class="col-xs-8 col-sm-6 col-lg-4">

            <select name="progressionSelect" id="progressionSelect" class="form-control"
                    ng-options="name for name in vm.MusicService.chordProgressionNames"
                    ng-model="vm.BeatBuilderService.currentProgressionName"></select>
        </div>
    </div>

    <div class="row top-buffer">
        <div class="col-xs-4 col-sm-2 col-lg-2"><h4>Sound</h4></div>
        <div class="col-xs-8 col-sm-6 col-lg-4">
            <div class="btn-group btn-group-justified">
                <a ng-click="vm.BeatBuilderService.prevInstrumentSound('chords')" class="btn btn-info"><i class="fa fa-chevron-left"></i> Prev</a>
                <a class="btn btn-info disabled">{{vm.BeatBuilderService.soundSettings['chords']}}</a>
                <a ng-click="vm.BeatBuilderService.nextInstrumentSound('chords')" class="btn btn-info">Next <i class="fa fa-chevron-right"></i></a>
            </div>
        </div>
    </div>

    <div ng-repeat="(key, pattern) in vm.BeatBuilderService.chordPatterns" class="well track-container">
        <div class="row">
            <div class="col-md-1 col-xs-2">
                <h2 class="track-label" ng-click="vm.BeatBuilderService.chordPatterns[key] = []"><span>{{key + 1}}</span></h2>
            </div>
            <div class="col-md-11 col-xs-10">
                <canvas id="rhythm_{{key}}" class="rhythm-pattern" width="1200" height="50" pattern="pattern" base-pattern="vm.BeatBuilderService.basePattern" rhythm></canvas>
            </div>
        </div>

    </div>

</div>

<!--PADS-->
<h3 class="divider-title bg-primary">Pads</h3>
<div class="section-container">

    <div class="row top-buffer">
        <div class="col-md-1 col-xs-2"><h4>Sound</h4></div>
        <div class="col-md-11 col-xs-10">
            <div class="btn-group btn-group-justified">
                <a ng-click="vm.BeatBuilderService.prevInstrumentSound('pads')" class="btn btn-info"><i class="fa fa-chevron-left"></i> Prev</a>
                <a class="btn btn-info disabled">{{vm.BeatBuilderService.soundSettings['pads']}}</a>
                <a ng-click="vm.BeatBuilderService.nextInstrumentSound('pads')" class="btn btn-info">Next <i class="fa fa-chevron-right"></i></a>
            </div>
        </div>
    </div>

</div>

<!--DRUMS-->
<h3 class="divider-title bg-primary">Drums</h3>
<div class="section-container">

    <div class="row">
        <div class="col-md-1 col-xs-2"><h4>Drums</h4></div>
        <div class="col-md-11 col-xs-10">

            <select name="drumSoundSelect" id="drumSoundSelect" class="form-control"
                    ng-options="idx as name for (idx, name) in vm.MusicService.soundNames.drums"
                    ng-model="vm.commonDrumSound"
                    ng-change="vm.setDrumSounds()"></select>
        </div>
    </div>

    <div class="well track-container">
        <div class="row">
            <div class="col-xs-4 col-md-1"><h4>Crash Sound</h4></div>
            <div class="col-xs-8 col-md-11">
                <div class="btn-group btn-group-justified">
                    <a ng-click="vm.BeatBuilderService.prevInstrumentSound('crash')" class="btn btn-info"><i class="fa fa-chevron-left"></i> Prev</a>
                    <a class="btn btn-info disabled">{{vm.MusicService.getSoundName('drums', vm.BeatBuilderService.soundSettings['crash'])}}</a>
                    <a ng-click="vm.BeatBuilderService.nextInstrumentSound('crash')" class="btn btn-info">Next <i class="fa fa-chevron-right"></i></a>
                </div>
            </div>
        </div>
    </div>

    <div class="well track-container" ng-repeat="drumName in vm.MusicService.drumsInOrder">
        <div class="row">
            <div class="col-md-1 col-xs-2">
                <h2 class="track-label icon-{{drumName}}" ng-click="vm.BeatBuilderService.drumPatterns[drumName] = []"></h2>
            </div>
            <div class="col-md-11 col-xs-10">
                <canvas rhythm single-beat-pattern id="{{drumName}}" class="rhythm-pattern" width="1200" height="50" base-pattern="drumName == 'hihat' || drumName == 'ride' ? vm.BeatBuilderService.basePattern : null" pattern="vm.BeatBuilderService.drumPatterns[drumName]"></canvas>
            </div>
        </div>
        <div class="row top-buffer">
            <div class="col-md-1 col-xs-2"><h4>Sound</h4></div>
            <div class="col-md-11 col-xs-8">
                <div class="btn-group btn-group-justified">
                    <a ng-click="vm.BeatBuilderService.prevInstrumentSound(drumName)" class="btn btn-info"><i class="fa fa-chevron-left"></i> Prev</a>
                    <a class="btn btn-info disabled">{{vm.MusicService.getSoundName('drums', vm.BeatBuilderService.soundSettings[drumName])}}</a>
                    <a ng-click="vm.BeatBuilderService.nextInstrumentSound(drumName)" class="btn btn-info">Next <i class="fa fa-chevron-right"></i></a>
                </div>
            </div>
        </div>
    </div>

</div>

<button ng-click="vm.BeatBuilderService.apply()" class="btn btn-success btn-apply-beat">APPLY</button>