<div class="page-header">
    <h1>
        Chords
        <button type="button" class="btn btn-info btn-sm"><span class="fa fa-music"></span> New sound!</button>
    </h1>

</div>



<div class="row">
    <div class="col-xs-4 col-sm-2 col-lg-2"><h4>Volume</h4></div>
    <div class="col-xs-8 col-sm-6 col-lg-4">
        <slider class="volume-slider" floor="0" ceiling="100" step="1" precision="1" ng-model="vm.MusicService.chords.volume" change="vm.MusicService.volumeChanged('chords')"></slider>
    </div>
</div>

<div class="row">
    <div class="col-xs-4 col-sm-2 col-lg-2"><h4>Progression</h4></div>
    <div class="col-xs-8 col-sm-6 col-lg-4">

        <select name="progressionSelect" id="progressionSelect" class="form-control"
                ng-options="name for name in vm.MusicService.chordProgressionNames"
                ng-model="vm.MusicService.currentProgressionName"
                ng-change="vm.progressionChanged()"></select>
    </div>
</div>


<div class="row lead-notes">
    <div class="well note col-sm-2 col-md-1" ng-repeat="(key, note) in vm.noteKeyMap"  my-touchstart="vm.noteOn(note)" my-touchend="vm.noteOff(note)" ng-class="{'active': vm.notesOn.indexOf(''+note)!==-1}">{{note}}</div>
</div>


<div ng-repeat="(key, pattern) in vm.MusicService.chordPatterns" class="well track-container">
    <div class="row">
        <div class="col-md-1 col-xs-2">
            <h2 class="track-label">{{key + 1}}</h2>
        </div>
        <div class="col-md-11 col-xs-10">
            <canvas id="rhythm_{{key}}" class="rhythm-pattern" width="1200" height="50" pattern="pattern" base-pattern="vm.MusicService.basePattern" active-cell="vm.MusicService.activeBeat" call-on-change="vm.patternChanged()" rhythm></canvas>
        </div>
    </div>

</div>