<div class="page-header">
    <h1>
        Chords
        <button type="button" class="btn btn-info btn-sm"><span class="fa fa-music"></span> New sound!</button>
    </h1>

</div>


<h4 class="pull-left">Volume</h4>
<div class="row">
    <div class="col-xs-12 col-sm-8 col-lg-4">
        <slider class="volume-slider" floor="0" ceiling="100" step="1" precision="1" ng-model="vm.MusicService.chords.volume" change="vm.MusicService.adjustVolume('chords')"></slider>
    </div>
</div>

<div ng-repeat="(key, pattern) in vm.MusicService.chordPatterns" class="well track-container">
    <div class="row">
        <div class="col-md-1 col-xs-2">
            <h2 class="track-label">{{key + 1}}</h2>
        </div>
        <div class="col-md-11 col-xs-10">
            <canvas id="rhythm_{{key}}" class="rhythm-pattern" width="1200" height="50" pattern="pattern" base-pattern="vm.MusicService.basePattern" active-cell="vm.MusicService.activeBeat" call-on-change="vm.patternChanged()" rhythm></canvas>
        </div>
    </div>

</div>


<h3>Base Pattern</h3>
<pre>{{vm.MusicService.basePattern}}</pre>
<h3>Pattern</h3>
<pre>{{vm.MusicService.chordPatterns}}</pre>