<div class="page-header">
    <h1>Drums</h1>
</div>

<div class="well track-container">
    <div class="row">
        <div class="col-md-1 col-xs-2">
            <h2 class="track-label icon-snare"></h2>
        </div>
        <div class="col-md-11 col-xs-10">
            <canvas rhythm single-beat-pattern id="snare" class="rhythm-pattern" width="1200" height="50" base-pattern="vm.MusicService.basePattern" pattern="vm.snarePattern" call-on-change="vm.patternChanged()" active-cell="vm.MusicService.activeBeat"></canvas>
        </div>
    </div>
</div>

<div class="well track-container">
    <div class="row">
        <div class="col-md-1 col-xs-2">
            <h2 class="track-label icon-hihat"></h2>
        </div>
        <div class="col-md-11 col-xs-10">
            <canvas rhythm single-beat-pattern id="hihat" class="rhythm-pattern" width="1200" height="50" base-pattern="vm.MusicService.basePattern" pattern="vm.hihatPattern" call-on-change="vm.patternChanged()" active-cell="vm.MusicService.activeBeat"></canvas>
        </div>
    </div>
</div>