<h1>Main Rhythm</h1>
<canvas id="main_rhythm" class="rhythm-pattern" width="1200" height="100" pattern="vm.basePattern" rhythm></canvas>

<h1>Chords</h1>
<h2>Tone 1</h2>
<canvas id="rhythm_1" class="rhythm-pattern" width="1200" height="50" pattern="vm.patternTone1" base-pattern="vm.basePattern" rhythm></canvas>
<h2>Tone 2</h2>
<canvas id="rhythm_2" class="rhythm-pattern" width="1200" height="50" pattern="vm.patternTone2" base-pattern="vm.basePattern" rhythm></canvas>
<h2>Tone 3</h2>
<canvas id="rhythm_3" class="rhythm-pattern" width="1200" height="50" pattern="vm.patternTone3" base-pattern="vm.basePattern" rhythm></canvas>


<h3>Base Pattern</h3>
<pre>{{vm.basePattern}}</pre>
<h3>Pattern</h3>
<pre>{{vm.pattern}}</pre>

<button ng-click="vm.addBlock()">Press</button>
