<div class="page-header">
    <h1>
        <button type="button" class="btn btn-success btn-sm" ng-click="fullscreenCtrl.toggleFullscreen()"><i class="fa fa-arrows-alt"></i></button>
        {{vm.name}}
        <!--<button type="button" class="btn btn-info btn-sm"><span class="fa fa-music"></span> New sound!</button>-->


    </h1>
</div>

<h4 class="pull-left">Volume</h4>
<div class="row">
    <div class="col-xs-12 col-sm-8 col-lg-4">
        <slider class="volume-slider" floor="0" ceiling="100" step="1" precision="1" ng-model="vm.MusicService[vm.name].volume" change="vm.MusicService.volumeChanged(vm.name)"></slider>
    </div>
</div>

<p class="text-muted">Use keyboard or press node areas</p>

<div ngsf-fullscreen="fullscreenCtrl">

    <h1 class="fullscreen-header">{{vm.name}}</h1>

    <div class="row lead-notes">
        <div class="col-xs-4 col-sm-2 col-md-2" ng-repeat="(key, note) in vm.noteKeyMap">
            <div class="well note"  my-touchstart="vm.noteOn(note)" my-touchend="vm.noteOff(note)" ng-class="{'active': vm.notesOn.indexOf(note)!==-1}">{{note}}</div>
        </div>
    </div>

    <button type="button" class="btn btn-primary fullscreen-close" ng-click="fullscreenCtrl.toggleFullscreen()"><span class="fa fa-times"></span> Exit instrument mode</button>


</div>
