<div class="page-header">
    <h1>Lead Overview</h1>
</div>


<div class="overview row" ng-repeat="a in vm.range(8) track by $index" ng-init="leadId = 'lead' + ($index + 1)">
    <div class="col-lg-offset-4 col-xs-4 col-sm-2 col-lg-1" style="background-color:{{vm.colors[leadId]}};color:#FFF;"><h4 class="uppercase">{{leadId}}</h4></div>
    <div class="col-xs-4 col-lg-1">
        <button class="btn disabled btn-default" ng-class="{'btn-success': vm.MusicService.isOnStage(leadId)}">{{vm.MusicService.isOnStage(leadId) ? 'On Stage' : 'Building'}}</button>
    </div>
    <div class="col-xs-4 col-lg-2">
        <button class="btn disabled btn-success" ng-class="{'btn-danger': vm.MusicService.isDead(leadId)}">{{vm.MusicService.isDead(leadId) ? 'Brick is unresponsive!' : 'Alive'}}</button>
    </div>
</div>