<div class="page-header">
    <h1>Main Rhythm</h1>
</div>

<div class="row">
    <div class="col-xs-4 col-sm-2 col-lg-2"><h4>BPM</h4></div>
    <div class="col-xs-8 col-sm-6 col-lg-4">
        <slider class="bpm-slider" floor="30" ceiling="240" step="2" precision="1" ng-model="vm.MusicService.bpm" change="vm.MusicService.bpmChanged()"></slider>
    </div>
</div>

<div class="row">
    <div class="col-xs-4 col-sm-2 col-lg-2"><h4>Filter</h4></div>
    <div class="col-xs-8 col-sm-6 col-lg-4">
        <slider class="effects-slider" floor="50" ceiling="100" step="1" precision="1" ng-model="vm.MusicService.filterValue" change="vm.MusicService.filterChanged()"></slider>
    </div>
</div>

<div class="well">
    <div class="canvas-container">
        <canvas id="main_rhythm" class="rhythm-pattern" width="1200" height="100" pattern="vm.MusicService.basePattern" call-on-change="vm.patternChanged()" active-cell="vm.MusicService.activeBeat" rhythm></canvas>
    </div>

    <button class="btn btn-danger" ng-click="vm.resetPattern();"><i class="fa fa-trash-o"></i> Reset pattern</button>
</div>

<div class="row">
    <div class="col-xs-4 col-sm-2 col-lg-2"><h4>Progression</h4></div>
</div>
<div class="row">
    <div class="col-xs-4 col-sm-2 col-lg-2 progression-items">
        <div class="btn btn-primary btn-progression"
             ng-repeat="name in vm.MusicService.songProgressionElements track by $index"
             dnd-draggable="vm.getProgressionObjectFromName(name)"
             dnd-copied="vm.itemAdded(event)"
             dnd-effect-allowed="copy"
                ><i class="fa fa-arrows"></i> {{name}}</div>

    </div>

    <div class="col-xs-8 col-sm-10 col-lg-10">
        <ul class="progression-list"
            dnd-list="vm.MusicService.songProgression"
            dnd-horizontal-list="true">

            <li ng-repeat="item in vm.MusicService.songProgression track by item.id"
                dnd-draggable="item"
                dnd-moved="vm.itemMoved($index)"
                dnd-effect-allowed="move"
                class="btn-group"
                    >
                        <button class="btn btn-default" ng-click="vm.setNextProgression(item.id)" ng-class="{'btn-info': item.id == vm.nextProgressionId, 'btn-success': item.id == vm.MusicService.currentProgressionId}">{{item.name}}</button>
                        <button class="btn btn-default" ng-click="vm.removeItem($index)" ng-hide="item.id == vm.MusicService.currentProgressionId" ng-class="{'btn-info': item.id == vm.nextProgressionId}"><i class="fa fa-times"></i></button>
            </li>

            <li class="dndPlaceholder"></li>
        </ul>
    </div>
</div>

<!--
ng-click="vm.gotoProgression($index)"
             ng-class="{'btn-success': $index == vm.MusicService.currentProgressionIndex, 'btn-info': $index == vm.nextProgression}"
             -->
